---
import Image from "astro/components/Image.astro";

interface Props {
  projectId: string;
  slides: {
    img: string;
    title: string;
    description: string;
  }[];
  initialSlide?: number;
  slideWidth?: number;
  slideHeight?: number;
}

const { projectId, slides, initialSlide = 1, slideWidth = 1920, slideHeight = 1080 } = Astro.props;
---

<div class="carousel-container" data-initial-slide={initialSlide} data-slide-count={slides.length}>
  <div class="slides">
    {
      slides.map(({ img, title, description }, index) => (
        <div class={`slide${index + 1 === initialSlide ? " active" : ""}`} data-slide={index + 1}>
          <div class="image">
            <Image src={`/assets/projects/${projectId}/${img}.webp`} alt={`${title}. ${description}`} width={slideWidth} height={slideHeight} />
            <div class="arrow previous" />
            <div class="arrow next" />
          </div>
          <div class="caption" aria-hidden="true">
            <p class="title">{title}</p>
            <p class="description">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
  <div class="switchers">
    {slides.map((_, index) => <div class={`switcher${index + 1 === initialSlide ? " active" : ""}`} data-slide={index + 1} />)}
  </div>
  <script>
    const getSlideElement = (slideIndex: number): HTMLElement => {
      return document.querySelector(`.slide[data-slide="${slideIndex}"]`) as HTMLElement;
    };
    const getSwitchElement = (slideIndex: number): HTMLElement => {
      return document.querySelector(`.switcher[data-slide="${slideIndex}"]`) as HTMLElement;
    };

    let switchJob: NodeJS.Timeout | undefined = undefined;
    const startSwitchJob = () => {
      if (switchJob !== undefined) {
        clearTimeout(switchJob);
      }
      switchJob = setTimeout(() => switchSlide(1), 5000);
    };
    startSwitchJob();

    const carouselContainer = document.querySelector(".carousel-container")! as HTMLElement;
    const slideCount = +carouselContainer.dataset.slideCount!;
    let selectedSlide = +carouselContainer.dataset.initialSlide!;
    const changeSlide = (slideIndex: number) => {
      // configure old slide
      getSlideElement(selectedSlide).classList.toggle("active");
      getSwitchElement(selectedSlide).classList.toggle("active");

      // configure new slide
      getSlideElement(slideIndex).classList.toggle("active");
      getSwitchElement(slideIndex).classList.toggle("active");

      selectedSlide = slideIndex;
      startSwitchJob(); // re-start
    };
    const switchSlide = (offset: number) => {
      let newSlide = (selectedSlide + offset - 1) % slideCount;
      if (newSlide < 0) {
        newSlide -= Math.floor(newSlide / slideCount) * slideCount;
      }
      changeSlide(newSlide + 1);
    };

    const switcherContainer = document.querySelector(".switchers") as HTMLElement;
    switcherContainer.addEventListener("click", (event) => {
      const targetElement = event.target as HTMLElement;
      if (targetElement.classList.contains("switcher")) {
        const slideIndex = +targetElement.dataset.slide!;
        changeSlide(slideIndex);
      }
    });

    const bindArrow = (direction: string, offset: number) => {
      const slidesContainer = document.querySelector(".slides") as HTMLElement;
      const targetClassName = `arrow ${direction}`;
      slidesContainer.addEventListener("click", (event) => {
        const targetElement = event.target as HTMLElement;
        if (targetElement.className == targetClassName) {
          switchSlide(offset);
        }
      });
    };
    bindArrow("previous", -1);
    bindArrow("next", 1);
  </script>
</div>
<style>
  .carousel-container {
    margin-top: 1em;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;

    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
  .slides {
    position: relative;
    --rounded-corners: 0.5em;
  }
  .slide {
    display: none;

    animation-name: fade;
    animation-duration: 150ms;
  }
  @keyframes fade {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  .slide.active {
    display: block;
  }
  .slide > .image {
    position: relative;
  }
  .slide > .image > img {
    border-radius: var(--rounded-corners);
    width: 100%;
    height: 100%;
  }
  .slide > .caption {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    /* there is no proper way for this; https://stackoverflow.com/a/27767158 */
    text-shadow:
      0px 0px 0.5em black,
      0px 0px 0.5em black,
      0px 0px 0.5em black;
  }
  .caption > .title {
    font-size: 1.2em;
  }
  @media screen and (max-width: 750px) {
    .slide > .caption {
      margin-top: 0.6em;
      position: inherit;
      bottom: unset;
    }
  }
  .caption > p {
    margin: 0;
  }
  .arrow {
    position: absolute;
    cursor: pointer;
    width: 15%;
    height: 100%;
    bottom: 0px;

    background-size: 50% 50%;
    background-position: 50%;
    background-repeat: no-repeat;

    opacity: 70%;
  }
  .arrow:hover {
    opacity: 100%;
  }
  .arrow.previous {
    left: 0px;
    border-top-left-radius: var(--rounded-corners);
    border-bottom-left-radius: var(--rounded-corners);

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  .arrow.next {
    right: 0px;
    border-top-right-radius: var(--rounded-corners);
    border-bottom-right-radius: var(--rounded-corners);

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .switchers {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    gap: 0.3em;
  }
  .switcher {
    height: 0.85em;
    width: 2.5em;
    background-color: #ffffff;
    border-radius: 0.15em;
    display: inline-block;
    transition: background-color 80ms linear;
  }
  .switcher:not(.active) {
    cursor: pointer;
    margin: calc(1px + 0.1em);
  }
  .switcher.active {
    background-color: #65b5b1;
    margin: calc(0px + 0.1em);
    border: white solid 1px;
  }
  .switcher:hover:not(.active) {
    background-color: #d6d6d6;
  }
</style>
