---
import Header from "../components/Header.astro";
import StructuredData from "../components/StructuredData.astro";
import Layout from "./Layout.astro";
import {CollectionEntry} from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
  category: CollectionEntry<"categories">;
}

const {slug: projectId, title, pubDate, modDate, keywords, prefetch, preconnect} = Astro.props.project.data;
const description = Astro.props.category.data.description;
const allKeywords = [projectId].concat(keywords || []);

const cloudcraftData = {
  "@type": "Organization",
  name: "CloudCraft",
  url: Astro.site,
  logo: {
    "@type": "ImageObject",
    url: new URL("/assets/logo.png", Astro.site),
  },
};
const articleData: any = {
  headline: title,
  description,
  publisher: cloudcraftData,
  author: [cloudcraftData],
  keywords: allKeywords.join(", "),
  mainEntityOfPage: {
    "@type": "WebPage",
    id: Astro.site,
  },
};
if (pubDate) articleData["datePublished"] = pubDate.toString();
if (modDate) articleData["dateModified"] = modDate.toString();
---

<Layout title={title} description={description} keywords={allKeywords}>
  {prefetch && prefetch.map(url => <link slot="head" rel="prefetch" href={url} />)}
  {preconnect && preconnect.map(url => <link slot="head" rel="preconnect" href={url} />)}
  <StructuredData slot="head" type="Article" data={articleData} />
  <Header title={title} image={{ src: "/assets/logo.webp", alt: "Logo von CloudCraft", width: 240, height: 240 }}>
    <h2>{description}</h2>
  </Header>
  <main>
    <article>
      <header>
        <h3>{title}</h3>
      </header>
      <section>
        <slot />
      </section>
    </article>
  </main>
</Layout>
<style>
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: calc(var(--content-width) * 0.9);
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    margin-top: 1em;
    font-size: 1em;
  }
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }
</style>
